!=css('clicker')
!=js('Clicker')

#connect Establishing Connection with Server

h1
  span#current 0
  /
  span#max 0

button#previous &lt;
button#next &gt;

h2#slide-title
#speaker-note
br
hr
p: i Next: 
  span#next-slide-title
