html
  head
    title ADC - presentation 
    base(target='_blank')
    meta(content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;', name='viewport')
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='apple-mobile-web-app-status-bar-style',content='black')
    meta(name="viewport", content="width=device-width")

    link(rel='apple-touch-icon', href='/img/app.png')
    link(rel='apple-touch-startup-image', href='/img/app-splash.png')
    script(src="/socket.io/socket.io.js")

  body
    != body


