!=css('slides')
!=css('leaflet')
!=css('map')
!=js('Slides')
!=js('wgx_counties')
!=js('lib/leaflet/leaflet')

#connect Establishing Connection with Server

#slides
  

  .slide
    h1 the ADC team
    .center
      img(src='/img/xmas_adc.png')

    .speaker
      ul
        li marketing, graphic design, GIS (tech, analyst, programmer), project managers, QA/QC, product support, IT, accounting, sales, cartography
        
  .slide
    h1 the development team
    .center
      img(src='/img/xmas_team.png')
    .speaker
      
  .slide  
    h1 history
    ul
      li 1996 - 2004: GIS programming, propriatary ESRI scripting (VB, .NET)
      li 2004 one dev (me), propriatary ESRI -> web
      li 2005 - 2006: 2 devs, 1 student intern
      li 2007: 4 devs, 1 student intern, 1 contractor
      li 2008 - 2009: launched adc4web.com, cross trained GIS techs in web programming
      li 2010 - 2012: 6 full time software engineers, 1-2 student interns 
 
    p Alumni of UWEC, UW-Stout, UWSP, CVTC 

    .speaker
      ul
        li 1996 - 2004 GIS, some development in ESRI scripting languages
        li 2004 - (Levi) webguide
        li 2005 - Ace Hardware, InfoUSA (everything goes to the web, Google Maps, GMail)
        li 2006 - (Josh) WNM
        li 2007 - (Marc, Colin) Smartt, Vexray
        li 2008 - adc4web, EAGL-i
        li 2009 - (Peter) wgx, Elite Extra
        li 2010 - pdfer, kathwap, ogre
        li 2011 - (Myles, Jon) ARC     

  .slide
    h1 technology
    ul
      li server - <b>java</b>, <b>php</b>, <b>python</b>, ruby, jruby, perl, C, C++, <b>nodejs</b>, clojure, scala
      li client - <b>javascript</b>, jquery, extjs, backbone, coffeescript, html5, css3
      li web APIs - openlayers, leaflet, bing map, google map, yql, REST, SOAP
      li database - <b>postgresql</b>, mysql, mssql, oracle, couchdb, mongodb, sqlite
      li scripting - bash, python
      li CMS - wordpress, drupal
      li web frameworks - struts, stripes, rails, express
      li source control - subversion, <b>git</b>

    .speaker
      ul
        li
        li
        
  .slide 
    h1 Dev Tools
    ul
      li Linux (Ubuntu)
      li vi (vim, gvim) 
      li git / github.com
      li Netbeans Java IDE
      li ssh, screen, rsync

    p
    | The Devs shifted to Ubuntu linux several years ago and have increased productivity and happiness. Some support and project managers are switching their desktop OS to linux.
          
    .speaker
      ul
        li advantages of developing on same platform as servers
        li being involved in the OS community makes you a better coder
        li gui not entirely evil, but slower to navigate than command line
        

  .slide
    h1 We &#9829; OpenSource
    ul
      li mature options with proven performance
      li avoid vendor lock
      li defined standards allow for interoperability
      li community of peers to learn from

    .speaker
      ul
        li 
        li
  .slide
    h1 Keys to Success 
    ul
      li 
        | Smart & Gets things Done - Joel Spolsky 
        a(href='http://www.joelonsoftware.com') joelonsoftware.com
      li produce more than you consume
      li release early & often
      li automate everything
      li refactor relentlessly
      li have fun!
    
    .speaker
      ul
        li test, tdd 
                
  .slide
    h1 github.com 
    p Social coding platform. See what is trending, follow projects, fork and modify, report bugs 

      ul
        li https://github.com/torvalds/linux
        li https://github.com/apache
        li https://github.com/facebook
        li https://github.com/twitter
        li https://github.com/google
        li https://github.com/applieddataconsultants
        
     p Code sample and commit history is more valuable than a resume!  

    .speaker
      ul
        li 
        li        

  .slide 
    h1 County Government
    .center
      #leaflet-map
            script(type='text/javascript')
                var myMap = new L.Map('leaflet-map',{
                        attributionControl: false
                            /* static map options 
                            dragging: false,
                            touchZoom: false,
                            scrollWheelZoom: false,
                            doubleClickZoom: false,
                            zoomControl: false,
                            trackResize: false,
                            fadeAnimation: false,
                            zoomAnimation: false
                            */
                        });
            
                myMap.setView(new L.LatLng(44.7, -90), 6);
                var geojsonLayer = new L.GeoJSON();

                geojsonLayer.on("featureparse", function (e) {
                  if (e.properties && e.properties.url) {
                    e.layer.on('click', function(ee){
                      window.open(e.properties.url);
                    });
                  }

                  if (e.properties && e.properties.status && e.layer.setStyle){
                    var color = "#DDDDDD";
                    var t = e.properties.status;
                    var colormap = {
                      "wgx":"#000080",
                      "wgx-upgrade":"#768DFF",
                      "wg3":"#D8D8FF",
                      "pgx":"#008000",
                      "pgx-upgrade":"#84D884",
                      "pg":"#C6F6C6"};
              
                    color = colormap[t] || color;
                    e.layer.setStyle({"color":"#FFFFFF","weight": 1,"opacity": 1,"fillOpacity":1,"fillColor":color});
                  }else{ //default
                    e.layer.setStyle({"color":"#DDDDDD","weight": 1,"opacity": 1 });
                  }
                }); //end featureparse

                geojsonLayer.addGeoJSON(wgx_counties);
                myMap.addLayer(geojsonLayer);            
  .slide 
    h1 Web Development
    .center
      a(href='http://adc4web.com') 
        img(src='/img/adc4web.png')     

  .slide 
    h1 Logistics & Routing
    .center
      a(href='http://eliteextra.com') 
        img(src='/img/extra.png')  
        
  .slide 
    h1 Site Selector
    .center
      a(href='http://eagl-i.com/cambridge') 
        img(src='/img/eagli.png')  
                 
  .slide 
    h1 Web Apps
    .center
      a(href='https://private.assetrecord.com') 
        img(src='/img/arc.png')  
       
  .slide 
    h1.hidden Example Projects
    b Web Services
    ul
      li 
        a(href='http://ogre.adc4gis.com/') http://ogre.adc4gis.com/
      li 
        a(href='http://utils.wgxtreme.com/pdfer/') http://utils.wgxtreme.com/pdfer/
      li 
        a(href='http://utils.wgxtreme.com/kathwap/') http://utils.wgxtreme.com/kathwap/
    b APIs
    ul
      li 
        a(href='http://rs1.adc4gis.com/js/infousa/doc/files/InfoEvent-js.html') http://rs1.adc4gis.com/js/infousa/
        ul
          li
            a(href='http://leads.infousa.com/Consumer/MapSelection.aspx?bas_vendor=190000') InfoUSA
    b Mobile    
    ul
      li
        a(href='https://market.android.com/details?id=com.eliteextra.driver') Android  
      li
        | HTML5, JQuery Mobile  
          
  .slide
    h1 Thanks and Questions?
    p Technologies used in this presentation:
    ul
      li Server Side
        ul
          li
            a(href="http://nodejs.org") NodeJS
          li
            a(href="http://expressjs.com") Express
          li
            a(href="http://socket.io") Socket.io
          li
            a(href="http://jade-lang.com") Jade
          li
            a(href="http://learnboost.github.com/stylus") Stylus
          li
            a(href="http://github.com/TrevorBurnham/connect-assets") Connect Assets / Snockets
      br
      li Client Side
        ul
          li
            a(href="http://documentcloud.github.com/backbone") jQuery
          li
            a(href="http://documentcloud.github.com/backbone") Backbone

img.logo(src='/img/adc.png')
#keyboard-enable .

#footer
  a(href="http://github.com/applieddataconsultants/node-slides", target='_blank')
    | http://github.com/applieddataconsultants/node-slides
  | &nbsp; &nbsp;
  .upper
    | Levi.Felling@adc4gis.com 
