!=css('slides')
!=css('leaflet')
!=css('map')
!=js('Slides')
!=js('wgx_counties')
!=js('lib/leaflet/leaflet')

#connect Establishing Connection with Server

#slides
  

  .slide
    h1 the ADC team
    .center
      img.framed(src='/img/xmas_adc.png')
    p marketing, graphic design, GIS (tech, analyst, programmer), project managers, QA/QC, product support, IT, accounting, sales, web development, cartography, software development

    .speaker
      ul
        li 
        li 
        
  .slide
    h1 the development team
    .center
      img.framed(src='/img/xmas_team.png')
    
    p
      b history
      br
      | 2004:  one dev (me), propriatary ESRI 
      br
      | 2005 - 2006: 2 devs, 1 student intern
      br
      | 2007: 4 devs, 1 student intern, 1 contractor
      br
      | 2008: launched adc4web.com
      br
      | 2009: taught internal web programming course to GIS techs
      br
      | 2010 - 2012: 6 full time software engineers, 1-2 student interns 
      br 
      | Alumni of UWEC, UW-Stout, UWSP, CVTC 

    .speaker
      ul
        li 1996 - 2004 GIS, some development in ESRI scripting languages
        li 2004 - (Levi) webguide
        li 2005 - Ace Hardware, InfoUSA (everything goes to the web, Google Maps, GMail)
        li 2006 - (Josh) WNM
        li 2007 - (Marc, Colin) Smartt, Vexray
        li 2008 - adc4web, EAGL-i
        li 2009 - (Peter) wgx, Elite Extra
        li 2010 - pdfer, kathwap, ogre
        li 2011 - (Myles, Jon) ARC     

  .slide
    h1 technology
    ul
      li server - java, php, python, ruby, jruby, perl, C, C++, nodejs, clojure, scala
      li client - javascript, jquery, extjs, backbone, nodejs, coffeescript, html5, css3
      li web APIs - openlayers, leaflet, bing map, google map, yql, REST, SOAP
      li database - postgresql, mysql, mssql, oracle, couchdb, mongodb, sqlite
      li scripting - bash, python
      li CMS - wordpress, drupal
      li web frameworks - struts, stripes, rails, express
      li source control - subversion, git

    .speaker
      ul
        li
        li
        
  .slide 
    h1 Dev Tools
    ul
      li Linux (Ubuntu)
      li vi (vim, gvim) 
      li git / github.com
      li Netbeans Java IDE
      li ssh, screen, rsync

    p
    | devs shifted to Ubuntu linux several years ago and have increased productivity and happiness (support and project managers are switching to linux and getting same reaction)
          
    .speaker
      ul
        li devs shifted to Ubuntu linux several years ago and have seen great increases in productivity and happiness
          li support and PMs are switching to linux and getting same reaction
        li advantages of developing on same platform as servers
        li productivity gained on OS vs closed
        li gui not entirely evil, but slower to navigate than command line
        

  .slide
    h1 philosophy
    ul
      li we &#9829; OpenSource
        ul 
          li mature options with proven performance
          li avoid vendor lock
          li defined standards allow for interoperability
          li community of peers to learn from
      li service based infrastructures are scalable and reusable
        ul 
          li loosely coupled
          li easier to implement, maintain, optimize 

    .speaker
      ul
        li 
        li
        
  .slide
    h1 Keys to Success 
    h2.hidden Keys to Success 
    p
      b Smart & Gets things Done - Joel Spolsky http://www.joelonsoftware.com/
      pre
        | People who are Smart but don’t Get Things Done often have PhDs and work in big companies 
        | where nobody listens to them because they are completely impractical. They would rather 
        | mull over something academic about a problem rather than ship on time. 
      pre 
        | People who Get Things Done but are not Smart will do stupid things, seemingly without 
        | thinking about them, and somebody else will have to come clean up their mess later. 
        | This makes them net liabilities to the company because not only do they fail to 
        | contribute, but they soak up good people’s time.
    p   
      b github.com 
      | - Social coding platform
      br
      | see what is trending, follow projects, fork and modify, report bugs 
      
      
      ul
        li https://github.com/torvalds/linux
        li https://github.com/apache
        li https://github.com/facebook
        li https://github.com/twitter
        li https://github.com/google
        li https://github.com/applieddataconsultants
        
      | viewing a devs code and history of commits is way more valuable than a resume  

    .speaker
      ul
        li 
        li        

  .slide 
    h1.hidden projects
    table
      tr
        td
            b County Government
            #leaflet-map
            script(type='text/javascript')
                var myMap = new L.Map('leaflet-map',{
                            /* static map options */
                            dragging: false,
                            touchZoom: false,
                            scrollWheelZoom: false,
                            doubleClickZoom: false,
                            zoomControl: false,
                            attributionControl: false,
                            trackResize: false,
                            fadeAnimation: false,
                            zoomAnimation: false
                        });
            
                myMap.setView(new L.LatLng(44.7, -90), 6);
                var geojsonLayer = new L.GeoJSON();

                geojsonLayer.on("featureparse", function (e) {
                  if (e.properties && e.properties.url) {
                    e.layer.on('click', function(ee){
                      window.open(e.properties.url);
                    });
                  }

                  if (e.properties && e.properties.status && e.layer.setStyle){
                    var color = "#DDDDDD";
                    var t = e.properties.status;
                    var colormap = {
                      "wgx":"#000080",
                      "wgx-upgrade":"#768DFF",
                      "wg3":"#D8D8FF",
                      "pgx":"#008000",
                      "pgx-upgrade":"#84D884",
                      "pg":"#C6F6C6"};
              
                    color = colormap[t] || color;
                    e.layer.setStyle({"color":"#FFFFFF","weight": 1,"opacity": 1,"fillOpacity":1,"fillColor":color});
                  }else{ //default
                    e.layer.setStyle({"color":"#DDDDDD","weight": 1,"opacity": 1 });
                  }
                }); //end featureparse

                geojsonLayer.addGeoJSON(wgx_counties);
                myMap.addLayer(geojsonLayer);
        td  
            b Web Development
            br
            a(href='http://adc4web.com') 
                img(src='/img/adc4web.png')     
                
        td  
            b Logistics & Routing
            br
            a(href='http://eliteextra.com') 
                img(src='/img/extra.png')    
    table            
      tr   
        td  
            b Site Selector
            br
            a(href='http://eagl-i.com/cambridge') 
                img(src='/img/eagli.png')             
        td  
            b Web Apps
            br
            a(href='https://private.assetrecord.com') 
                img(src='/img/arc.png')   
        td  
            b Web Services
            ul
              li 
                a(href='http://ogre.adc4gis.com/') http://ogre.adc4gis.com/
              li 
                a(href='http://utils.wgxtreme.com/pdfer/') http://utils.wgxtreme.com/pdfer/
              li 
                a(href='http://utils.wgxtreme.com/kathwap/') http://utils.wgxtreme.com/kathwap/
            br
            b APIs
            ul
              li 
                a(href='http://rs1.adc4gis.com/js/infousa/doc/files/InfoEvent-js.html') http://rs1.adc4gis.com/js/infousa/
                ul
                  li
                    a(href='http://leads.infousa.com/Consumer/MapSelection.aspx?bas_vendor=190000') InfoUSA
            br
            b mobile    
            ul
              li
                a(href='https://market.android.com/details?id=com.eliteextra.driver') Android  
              li
                | HTML5, JQuery Mobile    
                    

  
  
  .slide
    h1 Thanks and Questions?
    p Technologies used in this presentation:
    ul
      li Server Side
        ul
          li
            a(href="http://nodejs.org") NodeJS
          li
            a(href="http://expressjs.com") Express
          li
            a(href="http://socket.io") Socket.io
          li
            a(href="http://jade-lang.com") Jade
          li
            a(href="http://learnboost.github.com/stylus") Stylus
          li
            a(href="http://github.com/TrevorBurnham/connect-assets") Connect Assets / Snockets
      br
      li Client Side
        ul
          li
            a(href="http://documentcloud.github.com/backbone") jQuery
          li
            a(href="http://documentcloud.github.com/backbone") Backbone

img.logo(src='/img/adc.png')
#keyboard-enable .

#footer
  a(href="http://github.com/applieddataconsultants/node-slides", target='_blank')
    | http://github.com/applieddataconsultants/node-slides
  | &nbsp; &nbsp;
  .upper
    | Levi.Felling@adc4gis.com 
