@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Ubuntu)

body
  text-align: center
  font-family: Ubuntu
  background: linear-gradient(top,#aaa,#fff) no-repeat

button
  width: 50%
  height: 100px
  background-color: #333
  border: none
  box-shadow: 0 2px 2px #000
  color: #fff
  font-size: 40px
  text-shadow: -1px 1px 1px #000

#speaker-note
  text-align: left

#connect
  display: none
  background-color: yellow
  padding: 10px
  color: #000
  font-weight: bold
  position: absolute
  top: 0
  left: 0
