#leaflet-map
  margin: 0px auto
  align: center
  height: 330px
  width: 440px
  
.leaflet-container 
  background: none repeat scroll 0 0 #FFFFFF;

.leaflet-clickable:hover
  opacity: 0.75;
  fill: #cc0000;
